@media only screen and (min-width: 992px) {
    .recipe-main-title {
        font-size: 43px;
    }
}

@media only screen and (min-width: 577px) {
    .heading-wrap h2 {
        font-size: 30px;
    }

    .slider-wrap-sm-padding {
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        padding-right: calc(var(--bs-gutter-x) * 0.5);
    }
}

@media only screen and (max-width: 1199px) {
    .desktop-recipe-img {
        aspect-ratio: unset;
        min-height: 500px;
        height: inherit;
    }

    .recipe-main-img.desktop-image {
        height: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .recipe-main-title {
        font-size: 32px;
    }

    .author-note,
    .preparation-step {
        font-size: 18px;
    }

    .comment-card {
        border-bottom: 1px solid var(--light-border);
    }
}

@media only screen and (max-width: 767px) {
    .nutrition-table h5,
    .nutrition-table tbody td,
    .author-note,
    .sharing-buttons-heading,
    .preparation-step,
    .preparation-step-heading,
    .main-recipe-description p {
        font-size: 14px;
    }

    .recipe-rating h5,
    .recipe-rating {
        font-size: 16px;
    }

    .sharing-btn {
        width: 60px;
        height: auto;
    }

    .nutrition-facts {
        background: var(--section-bg);
    }
}

@media only screen and (max-width: 575px) {
    .similar-recipes-slider .swiper-slide ,
    .menu-recipes-slider .swiper-slide ,
    .top-chefs-slider .swiper-slide {
        max-width: 312px;
    }

    .calendar-btn {
        min-width: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .calendar-btn h5 {
        font-size: 14px;
    }

    .calendar-btn p {
        font-size: 8px;
    }

    .buy-btn,
    .more-btn {
        padding: 11px 10px;
    }
}

@media only screen and (max-width: 576px) {
    .aspect-ratio-resp-rev {
        aspect-ratio: 32 / 31;
    }

    .aspect-ratio-resp {
        aspect-ratio: 32 / 17;
    }

    .recipe-info-col h2,
    .heading-wrap h2 {
        font-size: 24px;
    }

    .thematic-inspiration-slider .card-title,
    .card-title {
        font-size: 16px;
    }

    .recipe-details-info,
    .card-body p {
        font-size: 14px;
    }

    .ingredients-slider .card-title {
        font-size: 12px;
    }

    .light-btn,
    .more-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .top-recipes-slider .swiper-slide,
    .celebrity-recipes-slider .swiper-slide {
        max-width: 244px;
    }

    .special-corner-btn svg {
        width: 19px;
        height: 19px;
    }

}